.header{
    background-color: var(--accent-bg);
    padding: 0 105px;
    width: calc(100vw - (105px*2));
    height: 85px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.header>.logo{
    width: 180px;
    height: 80px;
    background-image: var(--logo);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.header>nav{
    /* background-color: blueviolet; */
    gap: 25px;
    display: flex;
}
.header>nav>div{
    display: flex;
    gap: 25px;
    padding: 10px; 
}
.header a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: end;
    color: var(--text-h);
}
.header>nav button{
    background-color: var(--accent);
    border: none;
    padding: 15px 10px;
    height: 50px;
    width: 95px;
    border-radius: 5px;
    font-weight: 300;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header>nav button:hover{
    background-color: #9b0a1d;
}

.logoutButton{
    background-color: var(--text-h) !important;
}